<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-controller="indexCtrl">
		<p ng-bind="name"></p>
		<input type="text" ng-model="value">
		<input type="text" ng-model="value1">
		<input type="text" ng-model="value2">
		<button ng-disabled="!value || !value1 || !value2">ok</button>
		<p>{{!value || !value1 || !value2}}</p>
	</div>
</body>
<script src="../js/angular.js"></script>
<script>
	var app = angular.module('demo',[]);
	app.controller('indexCtrl',function($scope){
		$scope.name = "xie"
	})
</script>
</html>