<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
	.title{
		display: flex;
	}
	.title div{
		flex:1;
		line-height: 30px;
		text-align: center;
	}
	.page{text-align: center;}
	.active{
		border-bottom: 1px solid #f00;
	}
</style>
<body>
	<div ng-controller="controlTitle">
		<div class="title">
			<div ng-click="show(1)" ng-class="{active:yes}">第一页</div>
			<div ng-click="show(2)" ng-class="{active:no}">第二页</div>
		</div>
		<div class="page" ng-if="yes">1</div>
		<div class="page" ng-if="no">2</div>
	</div>
</body>	
<script src="node_modules/angular/angular.js"></script>
<script>
	var app = angular.module('demo',[]);
	app.controller('controlTitle',function($scope){
		$scope.yes = true;
		$scope.no = false;
		$scope.show = function(num){
			if(num === 1){
				$scope.yes = true;
				$scope.no = false;
			}else{
				$scope.yes = false;
				$scope.no = true;
			}
		}
	})
</script>
</html>