<div class="weui-tabbar">
    <a ng-href="#/index/tuijian" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':items==0}" ng-click="item(0)">
            <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">推荐</p>
    </a>
    <a href="#/index/yule" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':items==1}" ng-click="item(1)">
        <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">娱乐</p>
    </a>
    <a href="#/index/shehui" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':items==2}" ng-click="item(2)">
            <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">社会</p>
    </a>
    <a href="#/index/junshi" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':items==3}" ng-click="item(3)">
        <img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">军事</p>
    </a>
</div>